@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper bgded overlay" style="background-image:url('images/backgrounds/001.jpg');">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article class="introtxt">
            <h2 class="heading">.NET Developer <br> <strong>C# & ASP.NET Core/MVC<br></strong> EF, SQL, DI...</h2>
            <p>I am an amateur programmer</p>
            <!--<footer>
              <ul class="nospace inline pushright">
                <li><a class="btn" href="#">Iaculis diam</a></li>
                <li><a class="btn inverse" href="#">Eget maximus</a></li>
              </ul>
            </footer>-->
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>